if TARGET_ADVANTECH_RK3288

choice
	prompt "advantech rk3288 platform select"

config PLAT_RSB4680A1_2G
	bool "Support rk3288 rsb4680a101-1 2G"

config PLAT_RSB4680A2_2G
	bool "Support rk3288 rsb4680a102-1 2G"

config PLAT_RSB4680A3_2G
	bool "Support rk3288 rsb4680a103-1 2G"

config PLAT_EBCRB03A1_2G
	bool "Support rk3288 ebcrb03a101-1 2G"

config PLAT_EBCRB03A2_2G
	bool "Support rk3288 ebcrb03a102-1 2G"

config PLAT_USM110A2_2G
	bool "Support rk3288 usm110a102-1 2G"

endchoice

config SYS_BOARD
	default "advantech_rk3288"

config SYS_VENDOR
	default "rockchip"

if PLAT_EBCRB03A1_2G || PLAT_EBCRB03A2_2G

config SYS_CONFIG_NAME
	default "ebcrb03_rk3288"

endif

if PLAT_USM110A2_2G

config SYS_CONFIG_NAME
	default "usm110_rk3288"

endif

if PLAT_RSB4680A1_2G || PLAT_RSB4680A2_2G || PLAT_RSB4680A3_2G

config SYS_CONFIG_NAME
	default "rsb4680_rk3288"

endif

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
